.daily{
    margin-left: 43px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    /* text-decoration: underline; */
}
.list-group{
    width: 120px;
    display: flex;
    
}
.list-group-item{
    border-radius: 0px;
    overflow: hidden;
    
}
.mainul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 1250px;
    margin-left: 10px;
}